.container_whole{
    border:2px black hidden;
    box-shadow: 1px black ;
    width:60em;
    height:30em;
    margin: 8em 0em 20em 20em;
    margin-bottom: 0%;
    border-radius:0.5em;
    background-color: #FA4B0C;
}
.form_part{
    background-color: white;
    width:30em;
    height: 30em;
    margin-left:5em;
    float:right;
}
.logo_part{
    clear: right;
    float:left;
    margin-left:-30em;
    display: inline-flex;
}
.logo_part svg{
   width: 32em;
   margin-left: -3em;
   height: 9.8em;
}
.logo_part-2{
    margin-left:-28em;
    display: flex;
    flex-direction: row;
    padding-top: 2em;
}
.name_main{
    display: flex;
    flex-direction: row;
    margin-right: 3em;
    margin-left: -2em;
    margin-top: 0.2em;
}

.name_main h1{
    margin-right: -0.8em;
    margin-top: -0.3em;
} 

.name_main :nth-child(odd){
    color: #FA4B0C;
} 

.logo_part-2 img{
    height:2em;
}

.icon_main img{
    margin-top: 15em;
    margin-left:-15em;
    height:10em;
}

.set1{
    margin: 2em 5em;
    display:flex;
    flex-direction:column;
} 
 
.h1{
    margin-left:1.2em;
} 

.set1 input{
    width:25em;
    height:3em;
    border-radius:0.5em;
    padding-left:1.2em;
    background-color:#F7F8FC;
    border-width:0.5px;
    border-color:#F7F8FC;
    border-style: hidden;
} 

.set1 label{
    font-weight:bold;
    margin-left:-7em;
    margin-bottom:0.9em;
    font-family:'Segoe UI';
} 
#user_email{
    margin-left:-17.790em;
} 

#user_password{
    margin-right:8em;
}

 button{
    width:10em;
    height:3em;
    background-color:#FA4B0C;
    margin-left:4em;
    border-radius:0.5em;
    border-style:none;
    font-weight: bold;
}
p{
    margin-left:4em;
    margin-top:1.5em;
    margin-bottom:1.2em;
}

.signUp{
    text-decoration:none;
    color:#FA4B0C;
}

.signUp:hover{
    text-decoration: underline;
}

#reserved{
    margin-bottom:1.2em;
    margin-left: 12em;
    color: rgba(0, 0, 0, 0.504);
    width: 10em;
} 