.container{
    border:2px black hidden;
    width:60em;
    height:39em;
    margin: 4em 0em 13em 13em;
    border-radius:0.5em;
    background-color: #FA4B0C;
}
.form{
    background-color: white;
    width:30em;
    height: 39.1em;
    margin-left:5em;
    float:right;
    margin-top: -0.1em;
}
.logo{
    clear: right;
    float:left;
    margin-left:-30em;
    display: inline-flex;
}
.logo svg{
   width: 32em;
   margin-left: -3em;
   height: 9.8em;
}
.logo-2{
    margin-left:-28em;
    display: flex;
    flex-direction: row;
    padding-top: 2em;
}
.name{
    display: flex;
    flex-direction: row;
    margin-right: 3em;
    margin-left: -2em;
    margin-top: 0.2em;
}

.name h1{
    margin-right: -0.8em;
    margin-top: -0.3em;
} 
.name :nth-child(odd){
    color: #FA4B0C;
} 
.logo-2 img{
    height:2em;
}

.icon img{
    margin-top: 15em;
    margin-left:-17em;
    height:18em;
}

.set{
    margin: 2em 5em;
    display:flex;
    flex-direction:column;
    margin-bottom:1.5em;
} 
 
 h1{
    margin-left:1.2em;
} 
 .set input{
    width:25em;
    height:3em;
    border-radius:0.5em;
    padding-left:1.2em;
    background-color:#F7F8FC;
    border-width:0.5px;
    border-color:#F7F8FC;
    border-style:hidden;

} 
.set label{
    font-weight:bold;
    margin-left:-7em;
    margin-bottom:0.9em;
    font-family:'Segoe UI';
}

#username{
    margin-right:8em;
}

#email{
    margin-left:-17.8em;
} 

#password{
    margin-right:8em;
}

#phone{
    margin-left:-15em;
}

button{
    width:8em;
    height:3em;
    background-color:#FA4B0C;
    margin-left:4em;
    border-radius:0.5em;
    border-style:none;
}
p{
    margin-left:4em;
    margin-bottom:em;
}

p Link{
    text-decoration:none;
    color:#FA4B0C;
}

#reserved{
    margin-bottom:1.8em;
    margin-left: 12em;
    color: rgba(0, 0, 0, 0.504);
    width: 10em;
} 
